.whole {
  width: 100%;
  }

div {
  width: 700px;
  line-height: 1.6;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
}

.imageholder {
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
}

li {
  margin-left: 40px;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  background-color: #404040;
  padding: 35px;
  color: white;
  margin-top: 40px;
}

h3 {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
}

h5 {
  margin-top: 0;
  margin-left: 40px;
}

.nomargin {
  margin-bottom: 0;
}

p, li, h3, h4, h5, section {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

.first {
  margin-top: 40px;
  margin-left: 40px;
}

section {
  margin-left: 40px;
}

hr {
  height: 3px;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button1 {
  padding: 15px 15px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 7px 2px grey;
  border: 1px solid white;
}

.button1:hover {
  width: 60px;
  border-radius: 20%;
}

.button2 {
  padding: 15px 15px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 7px 2px grey;
  border: 1px solid white;
  margin-left: 10px;
}

.button2:hover {
  width: 60px;
  border-radius: 20%;
}

.button3 {
  padding: 15px 15px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 7px 2px grey;
  border: 1px solid white;
  margin-left: 10px;
}

.button3:hover {
  width: 60px;
  border-radius: 20%;
}

.button4 {
  padding: 15px 15px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 7px 2px grey;
  border: 1px solid white;
  margin-left: 10px;
}

.button4:hover {
  width: 60px;
  border-radius: 20%;
}

.buttons {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: -470px;
}

.invision {
  padding: 15px 50px;
  border-radius: 10%;
  text-align: center;
  box-shadow: 0 0 7px 2px grey;
  border: 1px solid white;
  position: fixed;
  bottom: 20px;
  left: 20px;
}